*,
*::before,
*::after{
    box-sizing:border-box;
}

h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
    font-family:$font-heading;
    font-weight:300;
}

img{
    max-width:100%;
    height:auto;
}

ul{
    list-style: none;
    padding:0;
}

a{
    text-decoration:none;
}

body{
    font-family:$font-body;
    margin:0;
    padding:0;
}

.container{
    max-width:87.2vw;
    width:100%;
    margin:0 auto;
}

.logo{
    width:144px;
    height:24px;
}