$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);
$clr-dark-gray: hsl(0, 0%, 55%);
$clr-very-dark-gray: hsl(0, 0%, 41%);

$font-heading: 'Josefin Sans', sans-serif;
$font-body: 'Alata', sans-serif;